html
    head
        title!= title
        meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
        link(rel='stylesheet', href='css/bootstrap.min.css')
        script(src='scripts/jquery-2.1.4.min.js')
        script(src='scripts/bootstrap.min.js')
        script.
            var host = location.origin.replace(/^http/, 'ws')
            websocket = new WebSocket(host)
        script(src='scripts/csgobans.js')
    body
        #container.container
            div.row
                div.text-center
                    h1= "CS:GO Banning"
            div.col-xs-6.col-lg-4
                div.thumbnail
                    img(src="images/dust2.jpg" id="dust2")
                    div.text-center
                        h4= "Dust2"
            div.col-xs-6.col-lg-4
                div.thumbnail
                    img(src="images/mirage.jpg" id="mirage")
                    div.text-center
                        h4= "Mirage"
            div.col-xs-6.col-lg-4
                div.thumbnail
                    img(src="images/cache.jpg" id="cache")
                    div.text-center
                        h4= "Cache"
            div.col-xs-6.col-lg-4
                div.thumbnail
                    img(src="images/cobblestone.jpg" id="cobblestone")
                    div.text-center
                        h4= "Cobblestone"
            div.col-xs-6.col-lg-4
                div.thumbnail
                    img(src="images/inferno.jpg" id="inferno")
                    div.text-center
                        h4= "Inferno"
            div.col-xs-6.col-lg-4
                div.thumbnail
                    img(src="images/overpass.jpg" id="overpass")
                    div.text-center
                        h4= "Overpass"
            div.col-xs-3.col-lg-4
            div.col-xs-6.col-lg-4
                div.thumbnail
                    img(src="images/train.jpg" id="train")
                    div.text-center
                        h4= "Train"
